<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>예약 추가</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>새 예약 추가</h1>
<form method="post" th:action="@{/reservations}">
    <label for="doctorId">의사 ID:</label>
    <input id="doctorId" name="doctorId" required type="number">
    <br>

    <label for="patientId">환자 ID:</label>
    <input id="patientId" name="patientId" required type="number">
    <br>

    <button type="submit">예약하기</button>
</form>
<br>
<a href="/reservations">예약 목록으로 돌아가기</a>
</body>
</html>